<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Document</title>
</head>
<body>
    <h1>Kitchening</h1>
    <header>
        <img src="./images/logo.jpg" alt="foto">
        <nav>
            <ul>
                <li><a href=""></a></li> 
                <li><a href=""> portfolio</a></li>
                <li><a href=""></a></li>
                <li><a href="">contacto </a></li>
                
                
            </ul>
        </nav></header>
        <main><section class="banner"><img src="/images/banner.jpg"></section>
            <section class="productos">
                <article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article>
                <article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article><article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article><article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article><article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article><article class="producto">
                    <img class="img-foto" src="/images/img-pdto-1.jpg" alt="">
                    <img class="img-etiqueta" src="" alt="">
                    <a class="btn-zoom" href="">ampliar foto</a>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit aut praesentium consequuntur eligendi accusamus!</p>
                    <a class="btn-more" href="">ver más</a>
                </article>
            </section>
        </main>
    <footer>
        <nav>
            <ul>
                <li><a href=""></a></li> 
                <li><a href=""> portfolio</a></li>
                <li><a href=""></a></li>
                <li><a href="">contacto </a></li>
                
                
            </ul>
        </nav>
    </footer>
    
</body>
</html>